<section id="hero" class="hero-section container">
  <div class="hero-container">
    <div class="hero-img-wrapper">
      <picture class="hero-img">
        <source
          src="./img/hero/hero-bckgrnd-3x.webp"
          media="(min-resolution: 288dpi)"
        />
        <source
          src="./img/hero/hero-bckgrnd-2x.webp"
          media="(min-resolution: 192dpi)"
        />
        <img
          src="./img/hero/hero-bckgrnd.webp"
          alt="Chocolate making process"
          class="process-paused"
        />
      </picture>
    </div>
    <div class="hero-text-wrapper">
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="hero-btn-wrapper">
        <div class="hero-two-btn-wrapper">
          <button class="hero-buy-btn">Buy now</button>
          <button class="hero-how-btn">How it's made?</button>
        </div>
        <div class="hero-scroll-wrapper">
          <p class="scroll-down-par">Scroll down</p>
          <button class="scroll-down-btn">
            <svg class="scroll-down-icon" width="16px" height="16px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
