<section id="products" class="products-section container">
  <h2 class="section-title">
    Our <span class="section-title-span">products</span>
  </h2>
  <ul class="products-list">
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/orange-bar-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="./img/products/orange-bar-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="./img/products/orange-bar.webp"
            alt="Dark chocolate bar with orange taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Orange</h3>
        <p class="products-content-text">Dark chocolate</p>
      </div>
      <button class="products-content-btn">45 uah</button>
    </li>
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/apple-cran-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="./img/products/apple-cran-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="./img/products/apple-cran.webp"
            alt="Milk chocolate bar with apple and cranberry taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Apple & cranberry</h3>
        <p class="products-content-text">Milk chocolate</p>
      </div>
      <button class="products-content-btn">50 uah</button>
    </li>
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/lime-salt-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="./img/products/lime-salt-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="./img/products/lime-salt.webp"
            alt="Dark chocolate bar with lime and sea salt taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Lime & sea salt</h3>
        <p class="products-content-text">Dark chocolate</p>
      </div>
      <button class="products-content-btn">66 uah</button>
    </li>
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/pineapple-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="./img/products/pineapple-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="./img/products/pineapple.webp"
            alt="Dark chocolate bar with pineapple taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Pineapple</h3>
        <p class="products-content-text">Dark chocolate</p>
      </div>
      <button class="products-content-btn">54 uah</button>
    </li>
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/classic-1-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="./img/products/classic-1-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="./img/products/classic-1.webp"
            alt="Milk chocolate bar with classic taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Classic</h3>
        <p class="products-content-text">Milk chocolate</p>
      </div>
      <button class="products-content-btn">45 uah</button>
    </li>
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/honey-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="./img/products/honey-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="./img/products/honey.webp"
            alt="Milk chocolate bar with honey taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Honey</h3>
        <p class="products-content-text">Milk chocolate</p>
      </div>
      <button class="products-content-btn">50 uah</button>
    </li>
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/roast-fr-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="/img/products/roast-fr-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="/img/products/roast-fr.webp"
            alt="Dark chocolate bar with roasted fruits taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Roasted fruits</h3>
        <p class="products-content-text">Dark chocolate</p>
      </div>
      <button class="products-content-btn">66 uah</button>
    </li>
    <li class="products-item">
      <div class="products-img">
        <picture>
          <source
            srcset="./img/products/classic-2-3x.webp"
            media="(min-resolution: 288dpi)"
            width="230px"
          />
          <source
            srcset="./img/products/classic-2-2x.webp"
            media="(min-resolution: 192dpi)"
            width="230px"
          />
          <img
            src="./img/products/classic-2.webp"
            alt="White chocolate bar with classic taste"
            width="230px"
          />
        </picture>
      </div>
      <div class="products-content-descr">
        <h3 class="products-content-title">Classic</h3>
        <p class="products-content-text">White chocolate</p>
      </div>
      <button class="products-content-btn">54 uah</button>
    </li>
  </ul>
  <button class="load-more-prod-btn">Load more</button>
</section>
