.benefits-section {
  background-color: #1e1823;
  margin-top: 70px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.benefit-icon-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  width: 62px;
  height: 62px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-text {
  opacity: 70%;
}

/*<----------768px--------->*/

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 88px;
    row-gap: 44px;
    align-items: flex-start;
  }

  .benefits-item {
    max-width: 308px;
  }
}

/*<----------1200px--------->*/

@media screen and (min-width: 1200px) {
  .benefits-item {
    position: relative;
  }
  .benefits-item:not(:last-child)::after {
    position: absolute;
    content: '';
    height: 124px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    right: -44px;
    top: 60px;
  }
}
