/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 50px 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 60px 32px;
  }
}
