.ingredients-section {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  justify-content: center;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.ingredients-item {
  width: 335px;
  height: 270px;
  padding: 14px 14px 28px 28px;
  border: none;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.ingredients-item-orange {
  background-color: #fd9222;
  border: 1px solid #fd9222;
}

.ingredients-item-black {
  background-color: #1e1823;
  border: 1px solid #1e1823;
}

.ingredients-item-wrapper {
  min-width: 293px;
  min-height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.ingredients-arrow {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 1px solid #fafafa;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  top: 0;

  transition: transform 0.3s ease;
}

.ingredients-arrow:hover {
  transform: scale(1.2);
}

.ingredients-img {
  display: block;
  flex-grow: 0;
  text-align: center;
}

.ingredients-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fafafa;

  position: absolute;
  left: 0;
  bottom: 0;
}

/* Content */

.ingredients-content-wrapper {
  display: none;
}

.ingredients-content-wrapper.show {
  display: flex;
  width: 335px;
  height: 270px;
  background-color: #ffffff;
  padding: 24px 15px 27px 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  position: absolute;
  z-index: 10;
  border: 1px solid #fd9222;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ingredients-content-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #111111;
}

.tags-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.ingredients-tag-white {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 6px 16px;
  border: 1px solid #fd9222;
  border-radius: 35px;
}

.ingredients-tag-orange {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 6px 16px;
  border: 1px solid #fd9222;
  background-color: #fd9222;
  color: #ffffff;
  border-radius: 35px;
}

.ingredients-content-text {
  font-size: 14px;
  max-width: 300px;
}

.load-more-ingr-btn {
  cursor: pointer;
  margin-top: 32px;
  padding: 12px 28px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #fd9222;
  border-radius: 100px;
  transition: transform 0.1s cubic-bezier(0.42, 0, 1, 1);
}

.load-more-ingr-btn:hover,
.load-more-ingr-btn:active,
.load-more-ingr-btn:focus {
  transform: scale(1.07);
}

.ingredients-item {
  display: none;
}

.ingredients-item:nth-child(-n + 2) {
  display: flex;
}

/*<----------768px--------->*/

@media screen and (min-width: 768px) {
  .ingredients-section {
    gap: 50px;
  }

  .ingredients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 704px;
    column-gap: 32px;
    row-gap: 32px;
  }

  .ingredients-item:nth-child(-n + 2) {
    display: flex;
  }
}

/*<----------1200px--------->*/

@media screen and (min-width: 1200px) {
  .ingredients-list {
    max-width: 1136px;
    row-gap: 24px;
  }

  .ingredients-item {
    width: 260px;
  }

  .ingredients-item-wrapper {
    min-width: 218px;
  }

  .ingredients-content-wrapper.show {
    width: 260px;
    height: 270px;
  }

  .ingredients-content-text {
    font-size: 12px;
    max-width: 260px;
  }

  .ingredients-item:nth-child(-n + 4) {
    display: flex;
  }
}
