.products-section {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  justify-content: center;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.products-item {
  max-width: 335px;
  max-height: 364px;
  padding: 32px 52px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.products-img {
  width: 230px;
  height: 201px;
}

.products-content-descr {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.products-content-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.products-content-text {
  font-size: 12px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.7);
}

.products-content-btn {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fafafa;
  width: 94px;
  height: 33px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.1s cubic-bezier(0.42, 0, 1, 1);
}

.products-content-btn:hover,
.products-content-btn:active,
.products-content-btn:focus {
  transform: scale(1.1);
}

.load-more-prod-btn {
  cursor: pointer;
  margin-top: 32px;
  padding: 12px 28px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #fd9222;
  border-radius: 100px;
  transition: transform 0.1s cubic-bezier(0.42, 0, 1, 1);
}

.load-more-prod-btn:hover,
.load-more-prod-btn:active,
.load-more-prod-btn:focus {
  transform: scale(1.07);
}

/*<----------768px--------->*/

@media screen and (min-width: 768px) {
  .products-section {
    gap: 50px;
  }

  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
    max-width: 704px;
  }
}

/*<----------1200px--------->*/

@media screen and (min-width: 1200px) {
  .products-list {
    row-gap: 24px;
    column-gap: 18px;
    max-width: 1136px;
  }

  .products-item {
    max-width: 270px;
    max-height: 364px;
  }
}
