:root {
  color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #111111;
  background-color: #fafafa;
}

label {
  cursor: default;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
button,
ul {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a,
button {
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.02em;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}
